{% extends "base.html" %}

{% load bulma_tags %}

{% block content %}
<h1 class="title">
  Add person/child
</h1>
<p>Note: we have parent/guardian information saved, so do not
worry about putting in personal information again for things like email or phone
number. This is intended to be the care recipient's contact information.
For example, a middle schooler with an email address or phone number if they
are also a volunteer.<p>
<form action="{% url 'create-person' family.pk %}" method="post">
  {% csrf_token %}
  {{ form|bulma }}
  <button class="button is-primary" type="submit">Submit</button>
</form>
{% endblock %}
