{% extends "base.html" %}

{% block content %}
<h1 class="title">
  kidcorral
</h1>
<p class="subtitle">
  Welcome back to <strong>kidcorral</strong>, {{ user }}!
</p>
{% if active_visits %}
<p class="subtitle">
  Active visits
  {% for visit in active_visits %}
    {% include "visit-card.html" %}
  {% endfor %}
</p>
{% endif %}
{% if not families %}
<p class="subtitle">
  Create family <a class="button is-primary" href="{% url 'create-family' %}">Create</a>
</p>
{% endif %}
{% if families %}
<p class="subtitle">
  {% for family in families %}
    {% if family.name %}
    <h2 class="subtitle">Family: {{ family.name }}</h2>
    {% endif %}
    <p class="subtitle">
      Add family guardian or caretaker <a class="button is-primary" href="{% url 'guardian-associate' family.pk %}">Add</a>
    </p>
    <p class="subtitle">
      Add child <a class="button is-primary" href="{% url 'create-person' family.pk %}">Add</a>
    </p>
    {% for child in family.children.all %}
      {% with person=child %}
        {% include "person-card.html" %}
      {% endwith %}
    {% endfor %}
  {% endfor %}
</p>
{% endif %}
{% endblock %}
