{% extends "base.html" %}

{% block content %}
<h1 class="title">
  kidcorral
</h1>
<p class="subtitle">
  Welcome back to <strong>kidcorral</strong>, {{ user }}! Please review the information
  below about your children, and use the 'edit' button with any updates.
</p>
<p class="subtitle">
  You may associate guardians (spouse or trusted friends) to allow for
  administration of your child's information and visits.
</p>
<p class="subtitle">
  To sign a child in to the system, navigate to the child and click "sign in". You will
  then select where they will be signed in - e.g. nursery. After drop off, a
  volunteer will acknowledge reception of the child.
</p>
{% if active_visits %}
<p class="subtitle">
  Active visits
  {% for visit in active_visits %}
    {% include "visit-card.html" %}
  {% endfor %}
</p>
{% endif %}
<p class="subtitle">
  Create family <a class="button is-primary" href="{% url 'create-family' %}">Create</a>
</p>
{% if families %}
<p class="subtitle">
  {% for family in families %}
    {% if family.name %}
    <h2 class="subtitle">Family: {{ family.name }}</h2>
    <h3 class="subtitle">
      Preferred contact: {{ family.preferred_contact.name }} - {{ family.preferred_contact.contact }}
    </h3>
    {% endif %}
    <p class="subtitle">
      Add child <a class="button is-primary" href="{% url 'create-person' family.pk %}">Add</a>
    </p>
    {% for child in family.children.all %}
      {% with person=child %}
        {% include "person-card.html" %}
      {% endwith %}
    {% endfor %}
    <p class="subtitle">
      Add family guardian or caretaker <a class="button is-primary" href="{% url 'guardian-associate' family.pk %}">Add</a>
    </p>
    {% for guardian in family.legal_guardians.all %}
      {% with person=guardian skip_footer=True %}
        {% include "person-card.html" %}
      {% endwith %}
    {% endfor %}
  {% endfor %}
</p>
{% endif %}
{% endblock %}
