{% load static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'index' %}">
      <img src="{% static 'corral.webp' %}" width="44" height="44">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'index' %}">
        Home
      </a>
      {% if user.is_authenticated %}
      <a class="navbar-item" href="{% url 'profile' request.user.pk %}">
        Profile
      </a>
      {% endif %}
      {% if user.volunteer %}
      <a class="navbar-item" href="{% url 'volunteer' %}">
        Volunteer
      </a>
      {% endif %}
      {% if user.is_staff %}
      <a class="navbar-item" href="{% url 'admin:index' %}">
        Admin
      </a>
      {% endif %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if user.is_authenticated %}
          <a class="button is-light" href="{% url 'logout' %}">
            Log out
          </a>
          {% else %}
          <a class="button is-primary" href="{% url 'person_register' %}">
            Sign up
          </a>
          <a class="button is-light" href="{% url 'login' %}">
            Log in
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }
});
</script>
