<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{ person.name }}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {% if person.email %}
      <p><strong>Email: </strong>{{ person.email }}</p>
      {% endif %}
      {% if person.allergies %}
      <p><strong>Allergies: </strong>{{ person.allergies }}</p>
      {% endif %}
      {% if person.birthdate %}
      <p><strong>Birthdate: </strong>{{ person.birthdate }}</p>
      {% endif %}
      {% if person.notes %}
      <p><strong>Notes: </strong>{{ person.notes }}</p>
      {% endif %}
      {% if person.phone_number %}
      <p><strong>Phone: </strong>{{ person.phone_number }}</p>
      {% endif %}
    </div>
  </div>
  {% if not skip_footer %}
  <footer class="card-footer">
    <a href="{% url 'profile' person.pk %}" class="card-footer-item">Edit</a>
    <a href="{% url 'signin' person.pk %}" class="card-footer-item">Sign In</a>
  </footer>
  {% endif %}
</div>
