<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{ visit.child.first_name }} {{ visit.child.last_name }}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {% if visit.email %}
      <p><strong>Email: </strong>{{ visit.email }}</p>
      {% endif %}
      {% if visit.sign_in_time %}
      <p><strong>Sign-in time: </strong>{{ visit.sign_in_time}}</p>
      {% endif %}
      {% if visit.notes %}
      <p><strong>Notes: </strong>{{ visit.notes }}</p>
      {% endif %}
    </div>
    {% if not visit.sign_in_volunteer %}
      <div class="notification is-warning is-bold">
          <p class="title">
            Warning: Missing volunteer for signin
          </p>
          <p class="subtitle">
            Please coordinate with a volunteer to complete sign in of your child
          </p>
      </div>
    {% endif %}
    {% if visit.sign_out_volunteer %}
      <p class="subtitle">
      {{ visit.child.name }} was signed out by {{ visit.sign_out_volunteer.name }}
      {% if visit.sign_out_time %}
        at {{ visit.sign_out_time }}
      {% endif %}.
      Thanks for the visit!
      </p>
    {% endif %}
  </div>
  <footer class="card-footer">
    {% if not visit.sign_out_guardian %}
    <a href="{% url 'signout' visit.pk %}" class="card-footer-item">Sign Out</a>
    {% endif %}
    <a href="{% url 'create-tag' visit.pk %}" class="card-footer-item">Create Tag</a>
  </footer>
</div>
