[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
djangorestframework = "*"
coreapi = "*"
pyyaml = "*"
django-rest-swagger = "*"
django-registration = "*"

[dev-packages]

[requires]
python_version = "3.7"
