{% extends "base.html" %}

{% load bulma_tags %}

{% block content %}
<h1 class="title">
  Create Volunteer Assignment
</h1>
<p class="subtitle">
Hello! You should be here because you want to sign up for a shift/assignment.
When you know where you will be volunteering and receive the assignment, please
use this form to select the location and click "create" to register with the system.
</p>
<form action="{% url 'create-assignment' %}" method="post">
  {% csrf_token %}
  {{ form|bulma }}
  <button class="button is-primary" type="submit">Create</button>
</form>
{% endblock %}
