{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Volunteer Portal - Current Assignment(s)
</h1>
{% if not active_assignments %}
<p class="subtitle">
  <a href="{% url 'create-assignment' %}">Create Assignment</a>
</p>
{% endif %}
{% for assignment in active_assignments %}
<p class="subtitle">
  {{ assignment.location }} -
  {{ assignment.sign_in_time }} -
  <a href="{% url 'fulfill-assignment' assignment.pk %}">Sign Out</a>
</p>
<p>{{ assignment.notes }}</p>
  {% for location, visits in location_visits.items %}
    {% if not visits %}
    <p>
      There do not appear to be any active visitors for your {{ location.name }} assignment!
    </p>
    {% endif %}
    {% for visit in visits %}
    <p>Name: {{ visit.child.name }}</p>
    <p>Birthdate: {{ visit.child.birthdate }}</p>
    {% with family=visit.family %}
    <p>Contact Name: {{ family.preferred_contact.name }}</p>
    <p>Contact Info: {{ family.preferred_contact.contact }}</p>
    {% endwith %}
    <p>Visit Notes: {{ visit.notes }}</p>
    <p>Child Notes: {{ visit.child.notes }}</p>
    <p>Allergies: {{ visit.child.allergies }}</p>
    <p>Sign-in time: {{ visit.sign_in_time }}</p>
    {% if not visit.sign_in_volunteer %}
      <a href="{% url 'acknowledge-child-signin' visit.pk %}">Acknowledge</a>
    {% else %}
      <p>Sign-in volunteer: {{ visit.sign_in_volunteer.name }}</p>
      <a href="{% url 'acknowledge-child-signout' visit.pk %}">Sign out</a>
    {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
{% endblock %}
