{% extends "base.html" %}

{% load bulma_tags %}

{% block content %}
<h1 class="title">
  kidcorral associate guardian/caretaker
</h1>
<h3 class="subtitle">
  Note: guardian/caretaker must already be registered in system
</h3>
<p>
  Guardians/caretakers are allowed to sign children in and out.
  The may change notes and allergy information.
</p>
<form action="{% url 'guardian-associate' family.pk %}" method="post">
  {% csrf_token %}
  {{ form|bulma }}
  <button class="button is-primary" type="submit">Submit</button>
</form>
{% endblock %}
