<body>
  <h1 class="title">{{ person.first_name }} {{ person.last_name }}</h1>
  <p>Sign in guardian: {{ visit.sign_in_guardian }}</p>
  <p>Sign in time: {{ visit.sign_in_time }}</p>
  <p>Location: {{ visit.location }}</p>
  <p>Contact Name: {{ family.preferred_contact.name }}</p>
  <p>Contact Info: {{ family.preferred_contact.contact }}</p>
  <p>Birthdate: {{ person.birthdate }}</p>
  <p>Allergies: {{ person.allergies }}</p>
  <p>Child Notes: {{ person.notes }}</p>
  <p>Visit Notes: {{ visit.notes }}</p>
</body>
